$colorWhite: #ffffff;
$colorBlack: #000000;
$colorTextH2: #1f1a1a;
$bgWhite: #ffffff;
$bgSecundario: #f5f5f5;
$bgfondo:#fdfdfd;
$bgTestimonio: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ;
$colorOrange: #f44336;